<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happy.jobkorea.lsm.dao.LSMBoardDao">

   <select id="lsmModal" resultType="Map" parameterType="Map">
    select
   		l.no, l.title, l.loginID,
         p.lecdate, p.note, p.processrate
      FROM tb_lecture as l
          left outer join tb_process as p
       on l.no = p.no
       where l.loginID = #{loginID} 
       and l.title = #{title}
       order by no desc
       limit 1
   </select>
   
<!-- 강사들이 올린 리스트 조회 -->
	<select id="selectLsmBoardList" resultType="Map" parameterType="Map">
				<!--  
			SELECT	@rownum:=@rownum+1 AS row_num
				,a.task_seq
				,b.lec_seq
				,b.lec_nm
				,a.task_nm
				,a.enr_user
				,Date_Format(a.enr_date, '%Y-%m-%d') AS enr_date
			FROM tb_task a , tb_lecture b
			WHERE (@rownum :=0)=0
			AND  a.lec_seq = b.lec_seq
			ORDER BY task_seq DESC
			LIMIT #{pageIndex},#{pageSize}
			-->
					SELECT
								tb_lecture.no,
								tb_lecture.title,
								tb_lecture.loginID,
								Date_Format(tb_lecture.enddate,'%Y.%m.%d') AS end_date,
								Date_Format(tb_lecture.startdate,'%Y.%m.%d') AS start_date,
								tb_lecture.room,
								tb_process.processrate
						FROM tb_lecture, tb_tcourse, tb_userinfo, tb_process
						WHERE (@rownum:=0)=0
							   and tb_lecture.no = tb_tcourse.no
     					       and tb_userinfo.loginID = tb_tcourse.loginID
       					       and tb_process.no = tb_lecture.no
     					       and tb_process.seq = (
                                      select max(ps.seq)
                                        from tb_process ps
                                       where ps.no = tb_lecture.no
                                   )           
				      and tb_tcourse.loginID = #{loginID}
	</select>
</mapper>