<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happy.jobkorea.lss.dao.LssCnsDao">
   
<select id="LecList" resultType="Map" parameterType="Map">
					SELECT
								
								tb_lecture.title,
								tb_lecture.loginID,
								Date_Format(tb_lecture.enddate,'%Y.%m.%d') AS end_date,
								Date_Format(tb_lecture.startdate,'%Y.%m.%d') AS start_date,
								tb_lecture.room,
								tb_process.processrate
						 FROM tb_lecture, tb_tcourse, tb_userinfo, tb_process
						WHERE (@rownum:=0)=0
							   and tb_lecture.no = tb_tcourse.no
     					       and tb_userinfo.loginID = tb_tcourse.loginID
       					       and tb_process.no = tb_lecture.no
     					       and tb_process.seq = (
                                      select max(ps.seq)
                                        from tb_process ps
                                       where ps.no = tb_lecture.no
                                   )           
				      and tb_tcourse.loginID = #{loginID}
</select>
	
	<select id="selectSList" resultType="Map">
	 SELECT 
				lt.lec_seq,
				lt.lec_nm,
       			rl.user_id,
    			uf.user_email,
      			uf.user_addr
	 FROM tb_lecture lt
    		LEFT JOIN tb_request_list rl
    		  		 ON lt.lec_seq = rl.lec_seq
     	 	LEFT JOIN tb_userinfo uf
    	  		     ON rl.user_id = uf.loginID
  	 WHERE rl.lec_seq =#{lec_seq}
	</select>
	<select id="sListOne" resultType="Map">
	SELECT
		cns_seq,
		cns_date,
		cns_place,
		cns_cstnt, 
		cns_cstee,
		cns_nm, 
		cns_content,
		cns_check 
	FROM tb_counsel
	WHERE cns_cstee =#{user_id} 
		AND cns_nm =#{lec_nm}
	</select>
	
	<update id="updateCns">
		UPDATE tb_counsel
			SET
			cns_check =#{cns_check}
		WHERE cns_seq =#{cns_seq}
	</update>
</mapper>