<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happy.jobkorea.jmli.dao.JmliProjectDao">
  
	<!-- 프로젝트 목록 조회 -->
	<select id="getProjectList" resultType="kr.happy.jobkorea.jmli.model.JmliProjectModel" >
		select  
				prj.projectId, 
				prj.project_name, 
				dtl.detail_name as area, 
				dtl2.detail_name as job,
				dtl3.detail_name as industry,
				prj.boarding_date,
				prj.due_date,
				userIn.comp_name,
				prj.projectId,
				prj.loginID,
				prj.PJ_YN
		from   TB_Project as prj		 
		 join   tb_detail_code as dtl		 
		   on   prj.region_code = dtl.detail_code and group_code = 'areaCD'
         join   tb_detail_code as dtl2		 
		   on   prj.work_type = dtl2.detail_code and dtl2.group_code = 'JOBCD'			
		 join   tb_detail_code as dtl3		 
		   on   prj.industry_type = dtl3.detail_code and dtl3.group_code = 'industryCD'
		 join tb_userinfo as userIn
		   on 	prj.loginID = userIn.loginID

   	    	
   	    <where>
   	    	prj.PJ_YN = 0
			<if test="searcharea != null and searcharea !=''">
   			 	and prj.region_code = #{searcharea}
   			</if>   			
   			<if test="searchjob != null and searchjob !=''">
   			 	and prj.work_type = #{searchjob}
   			</if>   			
   			<if test="searchind != null and searchind !=''">
   			 	and prj.industry_type = #{searchind}
   			</if>	
   	    </where>
   	    
		group by prj.projectId
   		ORDER BY prj.boarding_date DESC ,prj.project_name
		LIMIT #{pageIndex}, #{pageSize} 
	</select>
	
	 <!-- 프로젝트 목록 총 갯수 조회 -->
	<select id="totalCountProject" resultType="int">
		SELECT COUNT(*) AS tot_cnt 
		 from   TB_Project as prj
		 
		 <where>
		 
		 	prj.PJ_YN = 0					
			<if test="searcharea != null and searcharea !=''">
   			 	and region_code = #{searcharea}
   			</if>   			
   			<if test="searchind != null and searchind !=''">
   			 	and industry_type = #{searchind}
   			</if>   			
   			<if test="searchjob != null and searchjob !=''">
   			 	and work_type = #{searchjob}
   			</if>
   		</where>
	</select>
	
	<select id="selectProjectOne" resultType="JmliProjectModel">
		SELECT  
				prj.projectId ,
				prj.project_name ,
				prj.position_ime,
				prj.region_code as area,
				prj.work_type  as job,
				prj.industry_type as industry,
				prj.boarding_date,
				prj.updateId,
				prj.update_date,
				prj.low,
				prj.middle,
				prj.high,
				prj.special,
				prj.work_fr_date,
				prj.work_to_date,
				prj.receive_fr_date,
				prj.receive_to_date,
				prj.note,
				prj.option_order,
				prj.notice,
				prj.workarea_dtl,
				prj.workarea,
				prj.device_yn,
				prj.meal_yn,
				prj.dorm_yn,
				prj.tel_interview_yn,
				prj.dr_interview_yn,
				prj.loginID,
				prj.due_date	
		  from TB_Project as prj
    	 where projectId = #{projectId}

	</select>
	
	
	<select id="selectProjectSkill" resultType="kr.happy.jobkorea.jmli.model.JmliProjectSkill">
		SELECT		skill_Code as skillCode,
					skill_Detail as skillDetail,
					projectId
		  from     TB_PROJECTSKILL	
    	 where     projectId = #{projectId}

	</select>
	
	
	<select id="getUserInfo" resultType="String">
		SELECT 
			user_type 
		FROM tb_userinfo
		where loginID = #{id}
		
	</select>

	<update id="deleteTB_Project" >
		UPDATE TB_Project  
		SET 
			PJ_YN = 1
		WHERE projectId = #{projectId}
	</update>
	
	<update id="deleteTB_ProjectSKILL" >
		UPDATE TB_PROJECTSKILL  
		SET 
			PJ_YN = 1
		WHERE projectId = #{projectId}
	</update>
	
	<update id="deleteTB_priApplication" >
		UPDATE TB_prjApplication
		SET 
			PJ_YN = 1
		WHERE projectId = #{projectId}
	</update>
	
	
	<update id="proectUpdate_project" >
		UPDATE TB_Project
		SET 
			project_name = #{project_name},
			position_ime = #{position_ime},
			region_code = #{region_code},
			work_type = #{work_type},
			industry_type = #{industry_type},
			boarding_date = #{boarding_date},
			updateId = #{updateId},
			update_date = now(),
			low = #{low},
			middle = #{middle},
			high = #{high},
			special = #{special},
			work_fr_date = #{receive_fr_date},
			work_to_date = #{work_to_date},
			receive_fr_date = #{receive_fr_date},
			receive_to_date = #{receive_to_date},
			note = #{note},
			option_order = #{option_order},
			notice = #{notice},
			device_yn = #{device_yn},
			meal_yn = #{meal_yn},
			dorm_yn = #{dorm_yn},
			tel_interview_yn = #{tel_interview_yn},
			dr_interview_yn = #{dr_interview_yn}
	
			WHERE projectId = #{projectId}
	</update>
	<delete id="proectUpdate_deleteSkill">
		DELETE 
			FROM TB_PROJECTSKILL 
		WHERE projectId = #{projectId}
	</delete>
	
	<insert id="proectUpdate_updateSkill">
		INSERT INTO TB_PROJECTSKILL(
			skill_code,
			skill_detail,
			projectId
		) VALUES			
		(
			#{skillCode},
			#{skillDetail},
			#{projectId}
		)

	</insert>
	
	<insert id="applyProject">
		INSERT INTO TB_prjApplication(
			loginID,
			projectId,
			cv_date
		) VALUES			
		(
			#{loginId},
			#{projectId},
			NOW()
		)

	</insert>
	
	<insert id="resisterproject">
		<selectKey resultType="string" keyProperty="projectId" order="BEFORE">
			SELECT IFNULL(MAX(CAST(projectId AS UNSIGNED)),0) + 1 FROM TB_Project 
		</selectKey> 
		INSERT INTO TB_Project(
			projectId,
			project_name,
			position_ime,
			region_code,
			work_type,
			industry_type,
			boarding_date,
			low,
			middle,
			high,
			special,
			work_fr_date,
			work_to_date,
			receive_fr_date,
			receive_to_date,
			note,
			option_order,
			notice,
			workarea_dtl,
			workarea,
			device_yn,
			meal_yn,
			tel_interview_yn,
			dr_interview_yn,
			loginID,
			dorm_yn,
			PJ_YN
		)
		VALUES(
			#{projectId},
			#{project_name},
			#{position_ime},
			#{region_code},
			#{work_type},
			#{industry_type},
			date_format(now(),'%Y%m%d'),
			#{low},
			#{middle},
			#{high},
			#{special},
			#{work_fr_date},
			#{work_to_date},
			#{receive_fr_date},
			#{receive_to_date},
			#{note},
			#{option_order},
			#{notice},
			#{workarea_dtl},
			#{workarea},
			#{device_yn},
			#{meal_yn},
			#{tel_interview_yn},
			#{dr_interview_yn},
			#{loginId},
			#{dorm_yn},
			0
		)
		
	</insert>
</mapper>