<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happy.jobkorea.jmgr.dao.JmgrAdminNoticeDao">

	<!-- 작성자 : 정성규   작성일 : 2020,05,12-->
	<!-- 관리자에서 유저 목록 전체 조회 -->
	<select id="getUserList" resultType="Map" >
		
		SELECT	
				case 
					when user_type = 'D' then '일반회원'
					when user_type = 'C' then '기업회원'
					Else '오류입니다.'
				End as user_type
			  , name
			  , loginID
			  , join_date
		FROM	tb_userinfo 	
   	   WHERE	name like concat('%',#{searchword},'%') and (user_type = 'C' OR user_type = 'D')
   			<if test="searchkey != null and searchkey !='' ">
   			 	    and user_type = #{searchkey} 
   			</if>
   		ORDER BY name
		LIMIT #{pageIndex}, #{pageSize} 
	</select>

	 <!-- 공지사항 목록 총 갯수 조회 -->
	<select id="totalCountUser" resultType="int">
		SELECT COUNT(*) AS tot_cnt 
		FROM tb_userinfo
   	   WHERE name like concat('%',#{searchword},'%') and (user_type = 'C' OR user_type = 'D')   
   			<if test="searchkey != null and searchkey !='' ">
   			 	    and user_type = #{searchkey} 
   			</if>
	</select>
	
	<select id="getUserCnt" resultType="int">
		select *
		from tb_userinfo
		where loginID = #{value}  
	</select>


</mapper>