<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happy.jobkorea.jmgr.dao.JmgrUserDao">
	 
	<!-- 작성자 : 정성규   작성일 : 2020,05,12-->
	<!-- 수정자 : 권용환   작성일 : 2020,05,20-->
	<!-- 관리자에서 유저 목록 전체 조회 -->
	<select id="getUserList" resultType="Map" >
		
		SELECT	
				case 
					when user_type = 'D' then '일반회원'
					when user_type = 'C' then '기업회원'
					Else '오류입니다.'
				End as user_type
			  , name
			  , loginID
			  , join_date
		FROM	tb_userinfo 	
   	   WHERE	name like concat('%',#{searchword},'%') and (user_type = 'C' OR user_type = 'D')
   	   AND USE_YN = '0'
   			<if test="searchkey != null and searchkey !='' ">
   			 	    and user_type = #{searchkey} 
   			</if>
   		ORDER BY name
		LIMIT #{pageIndex}, #{pageSize} 
	</select>

	 <!-- 공지사항 목록 총 갯수 조회 -->
	<select id="totalCountUser" resultType="int">
		SELECT COUNT(*) AS tot_cnt 
		FROM tb_userinfo
   	   WHERE name like concat('%',#{searchword},'%') and (user_type = 'C' OR user_type = 'D')
   	   	 AND USE_YN = '0'  
   			<if test="searchkey != null and searchkey !='' ">
   			 	    and user_type = #{searchkey} 
   			</if>
	</select>
	
	<select id="selectDeveloperOne"  resultType="JmgrUserModel">
		select *
		from tb_userinfo
		where loginID = #{loginID}
		AND USE_YN = '0' 
	</select>
	
	<update id="deleteUser">
		update tb_userinfo
		   set USE_YN = '1'
		 where loginID = #{loginID}
	</update>

	<update id="updateComp">
		update tb_userinfo
		
		SET
		   
		  comp_name = #{comp_name}
		  ,email = #{email}
		  ,email_cop = #{email_cop}
		  ,comp_birthday = #{comp_birthday}
		  ,mgr_tel1 = #{mgr_tel1}
		  ,mgr_tel2 = #{mgr_tel2}
		  ,mgr_tel3 = #{mgr_tel3}
		  ,mgr_name = #{mgr_name}
		  ,comp_info = #{comp_info}
		  
		WHERE loginID = #{loginID}
			
	</update>
	
	<update id="updateUser">
		update tb_userinfo
		
		SET
		   
		  name = #{name}
		  ,email = #{email}
		  ,email_cop = #{email_cop}
		  ,sex = #{sex}
		  ,birthday = #{birthday}
		  ,area = #{area}
		  ,tel1 = #{tel1}
		  ,tel2 = #{tel2}
		  ,tel3 = #{tel3}
		  ,user_position = #{user_position}
		  ,salary = #{salary}
		  ,consult_yn = #{consult_yn}
		  ,career_year = #{career_year}
		  ,career_mm = #{career_mm}
		  ,skill_add = #{skill_add}
		  ,singular_facts = #{singular_facts}
		  ,skill = #{skill}
		  ,career_contents = #{career_contents}
		  
		WHERE loginID = #{loginID}
			
	</update>
	
	<delete id="deleteSkill">
		delete from TB_USERSKILL
		where loginID = #{loginID}
	</delete>
	
	<insert id="insertSkill">
		insert into  TB_USERSKILL(skill_code,skill_detail,loginID)
	    values (
	            #{skill_code},
	    		#{skill_detail},
	    		#{loginID}
			    )
	</insert>
	
	
	<select id="showSkill" resultType="JmgrUserSkill">
		select skill_code   as skillCode,
			   skill_detail as skillDetail
	    from TB_USERSKILL
	    where loginID = #{loginID}
	</select>
	
</mapper>