<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happy.jobkorea.ssm.dao.StuSurveyDao">
  
<!-- 	<select id="getLecList" resultType="Map">
		
		select stu.*,lec.lec_seq, lec.lec_nm , lec.lec_contents,lec.lec_gl, lec.lec_pl,lec.user_id as teacher,
		       lec.file_nm, lec.file_loc, lec.file_size, lec.enr_user,lec.upd_user ,lec.rm_seq,
		       SUBSTRING_INDEX(lec.lec_st, ' ', 1) lec_st ,
		       SUBSTRING_INDEX(lec.lec_ed, ' ', 1) lec_ed , 
		       SUBSTRING_INDEX(lec.lec_enr, ' ', 1) lec_enr,
		       SUBSTRING_INDEX(lec.enr_date, ' ', 1) enr_date,
		       SUBSTRING_INDEX( lec.upd_date, ' ', 1) upd_date,
			   SUBSTRING_INDEX( lec.lec_tm, ' ', 1) lec_tm
    	from (select lec_seq as slec_seq, user_id, lec_yon 
		                   FROM tb_request_list 
		                   where user_id=#{user_id}) stu
		join tb_lecture lec
		on  stu.slec_seq=lec.lec_seq
		order by  lec.lec_seq DESC;

	</select> -->
	
	<!-- 강사들이 올린 리스트 조회 -->
	<select id="getLecList"  resultType="Map" parameterType="Map">
	<!--  			SELECT
								tb_lecture.no,
								tb_lecture.title,
								tb_lecture.loginID,
								Date_Format(tb_lecture.enddate,'%Y.%m.%d') AS end_date,
								Date_Format(tb_lecture.startdate,'%Y.%m.%d') AS start_date,
								tb_lecture.room,
								tb_process.processrate
						 FROM tb_lecture, tb_tcourse, tb_userinfo, tb_process								  
						WHERE (@rownum:=0)=0
                and tb_lecture.no = tb_tcourse.no
     					  and tb_userinfo.loginID = tb_tcourse.loginID
       					and tb_process.no = tb_lecture.no
     					  and tb_process.seq = (
                                      select max(ps.seq)
                                        from tb_process ps
                                       where ps.no = tb_lecture.no
                                   )           
				      and tb_tcourse.loginID = #{loginID}
				      and tb_process.processrate >= 100
				    -->	  
select 
  B.no, B.title, B.loginID, B.room,
  Date_Format(B.enddate,'%Y.%m.%d') AS end_date,
  Date_Format(B.startdate,'%Y.%m.%d') AS start_date
from 
  ( 
  select A.no from tb_tcourse A inner join 
      (
        select no from tb_process where processrate >= 100 
      ) as B on A.no = B.no
where A.loginID = #{loginID}) as A left outer join tb_lecture as B
on A.no = B.no
where A.no not in (select no from tb_survey where loginID = #{loginID});
	</select>
		<insert id="savesurvey"  >
				insert into tb_survey(
				no, loginID, survey
				) VALUES
				(
				#{no},
				#{loginID},
				#{totalScore}
				)
		</insert>
	<!-- 
	<insert id="saveSurvey">
		insert into tb_survey  (
		   lec_seq,sv_seq ,sv_score,sv_comments,
		   enr_user,enr_date,upd_user,upd_date
		) SELECT 
		 #{lec_seq}   
		  ,ifnull(Max(cast(sv_seq as unsigned))+1,1)
		  ,#{totalScore}  
		  ,#{comment} 
		  ,#{enr_user} 
		  ,DATE_FORMAT(NOW(),'%Y-%c-%d %T' )
		  ,#{enr_user}  
		  ,DATE_FORMAT(NOW(),'%Y-%c-%d %T' )
		FROM tb_survey
		where lec_seq=#{lec_seq};
	</insert> -->
</mapper>