<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happy.jobkorea.jmyp.dao.CompinfoDao">
	
 	<select id="selectComp" resultType="kr.happy.jobkorea.register.model.RegisterModel">
 	/*kr.happy.jobkorea.jmyp.dao.CompinfoDao.selectComp*/
		select 
			user.loginID,
			user.password,
			user.comp_name,
			user.birthday,
			user.email,
			user.email_cop,
			user.mgr_name,
			user.mgr_tel1,
			user.mgr_tel2,
			user.mgr_tel3,
			user.comp_info

		from tb_userinfo as user
		where loginID = #{loginId}

	</select>
	
	<update id="compUpdate">
		update tb_userinfo
		
		SET
			password = #{password}
			,email = #{email}
		  	,email_cop = #{email_cop}
		  	,birthday = #{birthday}
		  	,comp_name = #{comp_name}
		  	,mgr_name = #{mgr_name}
		  	,mgr_tel1 = #{mgr_tel1}
		  	,mgr_tel2 = #{mgr_tel2}
		  	,mgr_tel3 = #{mgr_tel3}
		  	,comp_info = #{comp_info}
		
		WHERE loginID = #{loginID}
			
	</update>

</mapper>