<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happy.jobkorea.jmyp.dao.JMessageDao">
	<select id="messageList" resultType="kr.happy.jobkorea.jmyp.model.JMessageModel">
	  	/*kr.happy.jobkorea.jmyp.dao.JMessageDao.messageList*/
		SELECT  
		  ms.msg_code,
		  ms.msg_note,
		  ms.msg_date,
		  ms.msg_receive,
		  ms.msg_send,
		  ui.name as receive_name,
		  ui2.name as send_name,
          (
              CASE ms.msg_receive
                   WHEN #{loginId}  THEN 'r'
                   ELSE 's'
              END
          )AS msgtype 
		FROM    TB_MESSAGE ms, tb_userinfo ui, tb_userinfo ui2
		<where>
		    ms.msg_receive = ui.loginID
  			AND  ms.msg_send = ui2.loginID			
			<if test="(UserName != null) and (!UserName.equals(''))">			
				AND ( ui.name like concat('%',#{UserName},'%') OR ui2.name like concat('%',#{UserName},'%') )
			</if>
			<if test="(fromDt != null) and (!fromDt.equals(''))">
				AND DATE_FORMAT(ms.msg_date,'%Y%m%d')  <![CDATA[ >= ]]>  REPLACE( #{fromDt} , '-', '')
			</if>    
			<if test="(toDt != null) and (!toDt.equals(''))">
				AND DATE_FORMAT(ms.msg_date,'%Y%m%d') <![CDATA[ <= ]]>  REPLACE( #{toDt}, '-', '')
			</if>			
			<if test="(MsgKinds != null) and (MsgKinds eq 'a'.toString())">
				AND (ms.msg_receive = #{loginId} OR ms.msg_send = #{loginId})
			</if>
			<if test="(MsgKinds != null) and (MsgKinds eq 'r'.toString())">
				AND	ms.msg_receive = #{loginId}
			</if>
			<if test="(MsgKinds != null) and (MsgKinds eq 's'.toString())">
				AND	ms.msg_send = #{loginId}
			</if>			
		</where>		
		    ORDER BY ms.msg_date DESC
      		LIMIT #{pageIndex}, #{pageSize}		
	 </select>


	<select id="getSelectedCnt" resultType="int">
	  	/*kr.happy.jobkorea.jmyp.dao.JMessageDao.getSelectedCnt*/
		SELECT  
			COUNT(*) AS SelectedCnt
		FROM    TB_MESSAGE ms, tb_userinfo ui, tb_userinfo ui2
		<where>
		    ms.msg_receive = ui.loginID
  			AND  ms.msg_send = ui2.loginID			
			<if test="(UserName != null) and (!UserName.equals(''))">			
				AND ( ui.name like concat('%',#{UserName},'%') OR ui2.name like concat('%',#{UserName},'%') )
			</if>
			<if test="(fromDt != null) and (!fromDt.equals(''))">
				AND DATE_FORMAT(ms.msg_date,'%Y%m%d')  <![CDATA[ >= ]]>  REPLACE( #{fromDt} , '-', '')
			</if>    
			<if test="(toDt != null) and (!toDt.equals(''))">
				AND DATE_FORMAT(ms.msg_date,'%Y%m%d') <![CDATA[ <= ]]>  REPLACE( #{toDt}, '-', '')
			</if>			
			<if test="(MsgKinds != null) and (MsgKinds eq 'a'.toString())">
				AND (ms.msg_receive = #{loginId} OR ms.msg_send = #{loginId})
			</if>
			<if test="(MsgKinds != null) and (MsgKinds eq 'r'.toString())">
				AND	ms.msg_receive = #{loginId}
			</if>
			<if test="(MsgKinds != null) and (MsgKinds eq 's'.toString())">
				AND	ms.msg_send = #{loginId}
			</if>			
		</where>		
	 </select>
	 
	<insert id="insertMessage">
		/*kr.happy.jobkorea.jmyp.dao.JMessageDao.insertMessage*/		
		<selectKey resultType="string" keyProperty="msg_seq" order="BEFORE">
			SELECT IFNULL(MAX(CAST(msg_code AS UNSIGNED)),0) + 1 FROM TB_MESSAGE 
		</selectKey> 
		INSERT INTO TB_MESSAGE
		(
				msg_code, msg_note, msg_date, msg_receive, msg_send
		)
		VALUES
		(
				#{msg_seq}
			,	#{msg_note}
			,	NOW()
			,	#{msg_receive}
			,	#{loginId}			
		)		
	</insert>
	
		<!-- 그룹코드 삭제 -->
	<delete id="deleteMessage">
		/*kr.happy.jobkorea.jmyp.dao.JMessageDao.deleteMessage*/
		DELETE FROM TB_MESSAGE WHERE msg_code = #{msg_code}
	</delete>
	

	<select id="SearchID" resultType="kr.happy.jobkorea.jmyp.model.JMessageModel">
	  	/*kr.happy.jobkorea.jmyp.dao.JMessageDao.SearchID*/
		SELECT  
			name,
			loginID
		FROM   tb_userinfo
		<where>			
			<if test="(SearchName != null) and (!SearchName.equals(''))">			
				name like concat('%',#{SearchName},'%')
			</if>		
		</where>
      		LIMIT #{pageIndex}, #{pageSize}		
	 </select>
	 
	 <select id="getSelectedIDCnt" resultType="int">
	  	/*kr.happy.jobkorea.jmyp.dao.JMessageDao.getSelectedIDCnt*/
		SELECT  
			COUNT(*) AS SelectedIDCnt
		FROM   tb_userinfo
		<where>			
			<if test="(SearchName != null) and (!SearchName.equals(''))">			
				name like concat('%',#{SearchName},'%')
			</if>
		</where>
      			
	 </select>
	 
	 
	
	 
</mapper>

